/* Тёмная тема для всего проекта */
body {
  margin: 0;
  background: #000000;
  color: #D3D3D3;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Стили для ссылок */
a {
  color: #00B386;
  text-decoration: none;
}

a:hover {
  color: #00B386;
  text-decoration: underline;
}

/* Остальные элементы */
h2, h3, h4, h5, h6 {
  color: #F5F5F5;
}

p {
  color: #D3D3D3;
}